/* reset css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	font-family: Arial;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*/*//*/*/

html {
	width: 100%;
	height: 100%;
}

body { 
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
}

body.overview-page {
	background: #382418;
	overflow: visible;
}

.detail {
	/*-webkit-transform: translate3d(100%, 0px, 0px);
	transform: translate3d(100%, 0px, 0px);*/
	display: none;
}



.anim-in {
	-webkit-transform: translate3d(0, 0px, 0px);
	transform: translate3d(0, 0px, 0px);
	-webkit-transition: 1s;
	transition: 1s;
}

.anim-out {
	-webkit-transform: translate3d(-100%, 0px, 0px);
	transform: translate3d(-100%, 0px, 0px);
	-webkit-transition: 1s;
	transition: 1s;
}


.overview {	
	width: 1024px;	
	/*background: #382418 url('../images/overview-bg.jpg');*/
	margin: 0 auto;
}

.overview-header {
	height: 272px;
	position: relative;
	background-image: url('../images/perkament-top.png');
}

.overview-header h1 {
	top: 195px;
	left: 330px;
	position: absolute;
	font-size: 44px;
	font-family: Wellfleet;
	color: #8C5B33;
}
.overview-header h1 span {
	color: #000;
	font-family: Wellfleet;
}

.recipes-list {
	overflow: hidden;
	padding: 0 72px;
	background: url('../images/perkament-middle.png') repeat-y;
}

.recipes-list li {
	height: 292px;	
	float: left;
	margin-right: 24px;
	cursor: pointer;
}

.recipes-list li:nth-child(3n){
	margin-right: 0;
}

.recipes-list-footer {
	height: 352px;
	background: url('../images/perkament-bottom.png');
}

.recipes-list .image {
	width: 275px;
	height: 206px;
	border: 1px solid #000;
	
	margin-bottom: 10px;
	-webkit-background-size: cover;
	background-size: cover;
}

.recipes-list h2 {
	font-family: Wellfleet;
	font-size: 19px;
	line-height: 1.33em;
	width: 275px;
}

/*
 * 
 * 
 */

.button-action {
	height: 44px;
	line-height: 44px;
	background-color: #8C5C34;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 0 10px;
	border: none;
	color: white;
	font-size: 26px;
	font-family: Wellfleet;
	text-decoration: none;
	cursor: pointer;
}

.button-down {
	background: #8C5C34 url('../images/arrow-down-white.png') no-repeat right 8px;
	padding-right: 40px;
	position: absolute;
	right: 18px;
	bottom: 18px;
}

.header {
	width: 100%;
	padding: 18px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;	
	height: 115px;
	position: absolute;
	top: 0;
	z-index: 5;
	background: url('../images/header.png') repeat-x;
}

.left {
    float: left;    
  }

.header-title {
	font-size: 26px;
	line-height: 44px;
	float: left;
	font-family: Wellfleet;
	margin-left: 136px;
}

/*
 * 
 */
/* Sidebar */
.section-sidebar {	
	width: 244px;
	padding: 0 18px;
	border-right: 1px solid #8C5C34;	
	float: left;
	margin-top: 100px;
	height: 100%;
	z-index: 10;
	position: relative;
}

/* Tab navigation */
.nav-tabs {
	overflow: hidden;
	margin-bottom: 15px;
}
.nav-tabs li {
	float: left;
	margin-right: 25px;
}
.nav-tabs li:last-child {
	margin-right: 0;
} 
.nav-tabs li a {
	font-size: 26px;
	color: #ccc;	
	font-family: Wellfleet;
	text-decoration: none;
	display: block;
	padding-bottom: 2px;
}
.nav-tabs li a.active {
	color: #8C5C34;
	border-bottom: 2px solid #8C5C34;		
}

.tab {
	width: 100%;
	max-height: 100%;		
	 -webkit-overflow-scrolling: touch;	
	overflow-x: hidden;	
}

/* Tab info */
.recipe-title {
	font-size: 20px;
	line-height: 1.2em;
	color: #333;
	margin-bottom: 20px;
	font-weight: bold;
}

.recipe-image {
	width: 245px;
	height: 162px;
	margin-bottom: 5px; 
	-webkit-background-size: cover;
	background-size: cover;
}

.recipe-info dl {
	font-size: 20px;
	line-height: 1.33em;
	color: #333;
}
.recipe-info dd {
	float: left;
}
.recipe-info dd:last-of-type {
	font-weight: bold;
}
.recipe-info dt {
	float: left;
	width: 110px;
}
.recipe-info dt:last-of-type {
	font-weight: bold;
}

/* Tab stuff */
.list-ingredients {
	color: #333;	
	line-height: 1.333em;
	font-size: 20px;
}
.list-ingredients li {
	padding: 6px 0;
	border-bottom: 1px dashed #E6CEAC;
}
.list-ingredienst li:last-child {
	border: none;
}

/* Tab steps */
.nav-steps li {	
	border-bottom: 1px dashed #E6CEAC;
}

.nav-steps a {
	width: 235px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 20px;
	line-height: 68px;
	color: #333;
	display: block;
	text-decoration: none;
}

.nav-steps a span {
	font-size: 26px;
	color: #8C5B33;
	margin-right: 20px;
	float: left;
	font-family: Wellfleet;
	display: block;
	width: 24px;
	height: 45px;
}
.nav-steps a span.done {
	background: url('../images/check-small.png') no-repeat left 25px;
	text-indent: -9999em;
}

/*
 * 
 * 
 */
/* Recipes */
.intro {	
	text-align: center;
}

.intro h2 {
	font-family: Wellfleet;
	font-size: 33px;
	line-height: 1.33em;
	margin-top: 5px;
	margin-bottom: 10px;
}

.intro .recipe-image {
	width: 353px;
	height: 240px;
	margin: 10px auto 30px auto;
}

.intro p {
	color: #6B3E1F;
}
.intro p a {
	color: #6B3E1F;
}

.recipe {	
	width: 100%;
	max-height: 100%;	
	margin-top: 80px;
	padding-top: 20px;
	float: left;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-overflow-scrolling: touch;
	overflow-y: scroll;	
}

.steps {
	margin-top: 5px;
	color: #333;
}

.steps .instruction {
	padding: 30px 0 30px 30px;
	overflow: hidden;
	position: relative;
	-webkit-transform: translate3d(0,0,0);
}

.steps .instruction.active {
	background-color: #FFFFCC;
}

.steps .instruction span {
	font-size: 67px;
	font-family: Wellfleet;
	width: 75px;
	height: 44px;
	display: block;
	float: left;
}
.steps .instruction span.done {
	text-indent: -9999em;
	background: url('../images/check.png') no-repeat;
}

.steps .instruction p {
	font-size: 38px;
}

.steps .instruction.active .bomb {	
	background: url('../images/bomb_still.gif');
}
.steps .instruction .bomb {
	position: relative;
	float: right;
	right: 0;
	width: 209px;
	height: 99px;
	background: url('../images/bomb_still_white.gif');
}
.steps .instruction .bomb span{
	position: absolute;
	width: 146px;
	height: 50px;
	right: 10px;
	top: 36px;
	font-size: 45px;
	font-family: Arial;
	display: block;
	color: #FFF;
}
.steps .instruction .bomb span.done{
	background: none;
}

/*
 * 
 * */
.mast {
	width: 64px;
	height: 719px;
	position: absolute;
	top: 18px;
	left: 260px;
	z-index: 15;
	background: url('../images/mast.png') repeat-y;
}



.mast-top {
	width: 64px;
	height: 42px;
	background: url('../images/mast-top.png') repeat;
	text-align: center;
	padding-top: 5px;
}

.mast-top span {
	color: white;
	font-size: 18px;
	font-weight: bold;	
}
.mast-top span:last-child {
	font-size: 12px;
}

.mast .pirate {
	width: 59px;
	height: 89px;
	position: absolute;
	top: 40px;
	left: -2px;
	display: block;
	background: url('../images/pirate.png');
}
 
